.menu-button {
  display: none;
}

.menu-button svg {
  padding: 0;
  margin: 0;
}

.line {
  fill: none;
  stroke: rgb(var(--white));
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media screen and (max-width: 1024px) {
  .nav-main .hamburger {
    display: flex;
    align-content: space-around;
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .nav-elements .hamburger {
    margin-left: auto;
    margin-right: auto;
  }

  .sidenav-links.opened {
    left: 0;
    opacity: 1;
    transition: all ease 500ms;
  }

  .menu-button {
    display: flex;
    align-items: center;
  }
}
