.hero {
  position: relative;
  width: 100%;
  padding: 200px 10%;
  background: radial-gradient(
    circle at top left,
    rgb(var(--secondary)) -40%,
    rgb(var(--primary)) 50%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.hero-content {
  text-align: left;
  color: rgb(var(--white));
  width: 50%;
}

.hero-image {
  color: rgb(var(--white));
  width: 40%;
  align-self: stretch;
}

.hero-image canvas {
  height: 100% !important;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}

.btn {
  font-size: 16px;
  padding: 10px;
}

.call-to-action {
  background: radial-gradient(
    circle at top left,
    rgb(var(--white)) -20%,
    rgb(var(--accent)) 50%
  );
  color: rgb(var(--black));
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  border-radius: 100px;
}

.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curve svg {
  position: relative;
  display: block;
  width: 150%;
  height: 65px;
  transform: rotateY(180deg);
}

.curve .shape-fill {
  fill: rgb(var(--white));
}

/* Media Queries */
@media (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    padding: 140px 10%;
  }
  .hero-content {
    width: 90%;
  }
  .hero-image {
    display: none;
  }
}
