* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
  background-color: rgb(var(--white));
  color: rgb(var(--black));
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: 0, 5, 34;
  --secondary: 179, 162, 255;
  --accent: 255, 172, 5;
  --neutral: 240, 239, 251;
  --white: 247, 249, 252;
  --black: 0, 6, 26;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
